<!--Home 2 Section 1-->
<section id="about" class="section-hero-2 position-relative pt-130 pb-3">
    <div class="container hero-2">
        <div class="border border-1 rounded-3">
            <div class="box-linear-animation position-relative z-1">
                <div class="row align-items-end py-60">
                    <div class="col-lg-5 ps-lg-5 text-lg-start text-center">
                        <div class="position-relative mb-lg-0 mb-5">
                            <img src="assets/imgs/home-page-2/hero-1/people.png" alt="zelio" />
                            <div class="position-absolute end-0 top-100 translate-middle-y icon-decorate">
                                <img src="assets/imgs/home-page-2/hero-1/icon.svg" alt="zelio" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mx-lg-auto col-md-12">
                        <div class="p-lg-0 p-md-8 p-3">
                            <div class="text-secondary-2 d-flex align-items-center">
                                &lt;span&gt;
                                <div class="text-dark">
                                    <div class="typewriter"><h1 class="fs-6 fw-medium">Hey, I’m James</h1></div>
                                </div>
                                &lt;/span&gt;
                            </div>
                            <h1 class="fs-50 my-3">Senior <span class="text-linear-4">{Full Stack}</span>Web & App developer<span class="flicker">_</span></h1>
                            <p class="mb-6 text-secondary-2">&lt;p&gt;<span class="text-dark">With expertise in cutting-edge technologies such as</span> <span class="text-secondary-2">NodeJS</span>, <span class="text-secondary-2">React</span>, <span class="text-secondary-2">Angular</span>, and <span class="text-secondary-2">Laravel</span><span class="text-dark">... I deliver web solutions that are both innovative and robust.</span>&lt;/p&gt;</p>
                            <div class="row">
                                <div class="col-7">
                                    <!-- Carausel Scroll -->
                                    <div class="carouselTicker carouselTicker-left position-relative z-1 mt-lg-0 mt-8">
                                        <ul class="carouselTicker__list ">
                                            <li class="carouselTicker__item">
                                                <a href="#" class="brand-logo icon_60 icon-shape rounded-3">
                                                    <img src="assets/imgs/home-page-2/hero-1/icon-1.svg" alt="brand" />
                                                </a>
                                            </li>
                                            <li class="carouselTicker__item">
                                                <a href="#" class="brand-logo icon_60 icon-shape rounded-3">
                                                    <img src="assets/imgs/home-page-2/hero-1/icon-2.svg" alt="brand" />
                                                </a>
                                            </li>
                                            <li class="carouselTicker__item">
                                                <a href="#" class="brand-logo icon_60 icon-shape rounded-3">
                                                    <img src="assets/imgs/home-page-2/hero-1/icon-3.svg" alt="brand" />
                                                </a>
                                            </li>
                                            <li class="carouselTicker__item">
                                                <a href="#" class="brand-logo icon_60 icon-shape rounded-3">
                                                    <img src="assets/imgs/home-page-2/hero-1/icon-4.svg" alt="brand" />
                                                </a>
                                            </li>
                                            <li class="carouselTicker__item">
                                                <a href="#" class="brand-logo icon_60 icon-shape rounded-3">
                                                    <img src="assets/imgs/home-page-2/hero-1/icon-5.svg" alt="brand" />
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-5 d-flex align-items-end">
                                    <span class="fs-6 text-300 mb-2">...and more</span>
                                </div>
                            </div>
                            <a href="assets/resume.pdf" class="btn me-2 text-300 ps-0 mt-4" target="_blank">
                                <i class="ri-download-line text-primary-2"></i>
                                [ Download my CV ]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background position-absolute top-0 start-0 w-100 h-100">
        <img class="bg-w" src="assets/imgs/home-page-2/hero-1/bg.png" alt="zelio" />
        <img class="bg-d" src="assets/imgs/home-page-2/hero-1/bg-dark.png" alt="zelio" />
    </div>
</section>
