<!--Home 1 Section 1-->
<section class="section-hero-1 position-relative pt-200 pb-120 overflow-hidden">
    <div class="container position-relative z-3">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <span class="text-dark">👋 Hi there, I'm William</span>
                <h1 class="ds-2 mb-3">Crafting Intuitive <span class="text-primary">Digital Experiences</span></h1>
                <p class="text-300 mb-6">I assist individuals and brands in achieving their objectives by creating and developing user-focused digital products and interactive experiences.</p>
                <a href="assets/resume.pdf" class="btn btn-gradient me-2" target="_blank">
                    Download CV
                    <i class="ri-download-line ms-2"></i>
                </a>
                <a href="#contact" class="btn btn-outline-secondary d-inline-flex align-items-center">
                    <span>Hire me</span>
                    <i class="ri-arrow-right-line ms-2"></i>
                </a>
                <p class="text-400 mt-6 mb-3">+ 12 years with professional design software</p>
                <div class="d-flex gap-3">
                    <div class="brand-logo icon-xl icon-shape rounded-3 bg-900">
                        <img src="assets/imgs/hero/hero-1/brand-1.png" alt="brand" />
                    </div>
                    <div class="brand-logo icon-xl icon-shape rounded-3 bg-900">
                        <img src="assets/imgs/hero/hero-1/brand-2.png" alt="brand" />
                    </div>
                    <div class="brand-logo icon-xl icon-shape rounded-3 bg-900">
                        <img src="assets/imgs/hero/hero-1/brand-3.png" alt="brand" />
                    </div>
                    <div class="brand-logo icon-xl icon-shape rounded-3 bg-900">
                        <img src="assets/imgs/hero/hero-1/brand-4.png" alt="brand" />
                    </div>
                    <div class="brand-logo icon-xl icon-shape rounded-3 bg-900">
                        <img src="assets/imgs/hero/hero-1/brand-5.png" alt="brand" />
                    </div>
                    <div class="brand-logo icon-xl icon-shape rounded-3 bg-900 d-none d-md-flex">
                        <img src=" assets/imgs/hero/hero-1/brand-6.png" alt="brand" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-1 position-absolute bottom-0 start-50 z-1 ms-10 d-none d-md-block">
        <img class="position-relative z-1 filter-gray" src="assets/imgs/hero/hero-1/man.png" alt="man" />
        <div class="position-absolute top-50 start-0 translate-middle z-0 mt-8 ms-10 ps-8">
            <img class="ribbonRotate" src="assets/imgs/hero/hero-1/decorate.png" alt="zelio" />
        </div>
    </div>
    <div class="position-absolute top-0 start-0 w-100 h-100 filter-invert" data-background="assets/imgs/hero/hero-1/background.png"></div>
</section>
