$colors: (
    theme: (
        primary-1: #6e4ef2,
        primary-2: #62a92b,
        primary-3: #be6895,
        secondary-1: #f1f2f3,
        secondary-3: #b2a4ab,
    ),
    theme-dark: (
        primary-1: #6e4ef2,
        primary-2: #a8ff53,
        primary-3: #fcc6e2,
        secondary-1: #21212d,
        secondary-2: #f778ba,
        secondary-3: #40363b,
    ),
    neutral: (
        0: #1f1f24,
        100: #272730,
        200: #565662,
        300: #5e5e65,
        400: #6d6d72,
        500: #858587,
        600: #969698,
        700: #b2b2ba,
        800: #c5c5ca,
        900: #edeaf8,
        1000: #ffffff,
    ),
    neutral-dark: (
        0: #ffffff,
        100: #e9e9ea,
        200: #bcbcbe,
        300: #8f8f92,
        400: #79797c,
        500: #636366,
        600: #3b3b41,
        700: #2a2a31,
        800: #24242d,
        900: #272730,
        1000: #1f1f24,
    ),
    system: (
        success: #64e1b0,
        info: #5577a7,
        warning: #ffd45d,
        danger: #ec4040,
        muted: #9ca3af,
    ),
    system-dark: (
        success: #10b983,
        info: #0f172e,
        warning: #fcd34e,
        danger: #fca5a7,
        muted: #9ca3af,
    ),
    bg: (
        1: #edeaf8,
        2: #6e4ef2,
        3: #ffffff,
        4: #fbf8f9,
        5: #e8e8e8,
        6: #f6f4fd,
    ),
    bg-dark: (
        1: #24242d,
        2: #272730,
        3: #272730,
        4: #1f1f24,
        5: #1f1f24,
        6: #2a2a31,
    ),
    border: (
        1: #c0dcbc,
    ),
    border-dark: (
        1: #3b413d,
    ),
    linear: (
        1: linear-gradient(90deg, #6d4df2 0%, #8c71ff 100%),
        2: linear-gradient(-180deg, #6e4ef2 0%, transparent 100%),
        3: linear-gradient(-180deg, #dfdfea 0%, rgba(223, 223, 234, 0.31) 31%, rgba(223, 223, 234, 0) 100%),
        // 3: linear-gradient(-180deg, #dfdfea 0%, #dfdfea 31%, #ffffff 100%),
        4: linear-gradient(-90deg, #33a381 0%, #129840 100%),
        5: linear-gradient(-90deg, rgba(31, 31, 36, 0.45) 0%, rgba(31, 31, 36, 1) 100%),
    ),
    linear-dark: (
        1: linear-gradient(90deg, #6d4df2 0%, #8c71ff 100%),
        2: linear-gradient(-180deg, #6e4ef2 0%, transparent 100%),
        3: linear-gradient(-180deg, #5e5e63 0%, transparent 100%),
        4: linear-gradient(-90deg, #659932 0%, #a8ff53 100%),
        5: linear-gradient(-90deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 1) 100%),
    ),
    shadow: (
        1: 0 13px 35px -12px rgba(35, 35, 35, 0.1),
        2: 0px 0px 25px 0px rgba(0, 0, 0, 0.08),
    ),
);
