<!-- brands 1 -->
<section class="section-brands-1 section-padding">
    <div class="container">
        <div class="text-center">
            <h2>Trusted by industry leaders</h2>
            <p class="text-300">
                I have collaborated with many large corporations, companies, and agencies around
                <br />
                the world in many fields of design and consulting
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Carausel Scroll -->
        <div class="carouselTicker carouselTicker-right mt-5 position-relative z-1">
            <ul class="carouselTicker__list">
                <li class="carouselTicker__item">
                    <img src="assets/imgs/brands/brands-1/logo-1.png" alt="zelio" />
                </li>
                <li class="carouselTicker__item">
                    <img src="assets/imgs/brands/brands-1/logo-2.png" alt="zelio" />
                </li>
                <li class="carouselTicker__item">
                    <img src="assets/imgs/brands/brands-1/logo-3.png" alt="zelio" />
                </li>
                <li class="carouselTicker__item">
                    <img src="assets/imgs/brands/brands-1/logo-4.png" alt="zelio" />
                </li>
                <li class="carouselTicker__item">
                    <img src="assets/imgs/brands/brands-1/logo-5.png" alt="zelio" />
                </li>
                <li class="carouselTicker__item">
                    <img src="assets/imgs/brands/brands-1/logo-6.png" alt="zelio" />
                </li>
                <li class="carouselTicker__item">
                    <img src="assets/imgs/brands/brands-1/logo-7.png" alt="zelio" />
                </li>
                <li class="carouselTicker__item">
                    <img src="assets/imgs/brands/brands-1/logo-8.png" alt="zelio" />
                </li>
                <li class="carouselTicker__item">
                    <img src="assets/imgs/brands/brands-1/logo-9.png" alt="zelio" />
                </li>
                <li class="carouselTicker__item">
                    <img src="assets/imgs/brands/brands-1/logo-10.png" alt="zelio" />
                </li>
            </ul>
        </div>
    </div>
</section>
