<!--work -->
<section class="section-work pt-120 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-lg-auto">
                <div class="text-center">
                    <div class="btn btn-gradient d-inline-block text-uppercase">recent Work</div>
                    <h3 class="ds-3 mt-3 mb-4 text-dark">Explore <span class="text-300">My Latest Work and Discover the</span> Craftsmanship Behind <span class="text-300">Each Design</span></h3>
                    <p class="text-300 fs-5">
                        Explore my latest work and discover the craftsmanship behind each design: <br />
                        a detailed look into how I bring innovation and creativity to life
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="card-scroll mt-8">
                <div class="cards">
                    <!-- prettier-ignore -->
                    @@loop('work-loop.html', [
                    {
                        "image": "assets/imgs/work/img-1.png",
                        "tag": "UI/UX",
                        "title": "E-commerce Website Redesign",
                        "description": "Designed an interactive and engaging educational platform aimed at improving online learning experiences. This included developing intuitive navigation, interactive course materials, and features that support student engagement and participation, making learning more accessible and enjoyable.",
                        "topic1": "Client",
                        "topic2": "Completion Time",
                        "topic3": "Tools",
                        "description1": "Conceptual JSC",
                        "description2": "6 months",
                        "description3": "Figma, Sketch, Photoshop, Framer",
                        "link": "work-single.html",
                    },
                    {
                        "image": "assets/imgs/work/img-2.png",
                        "tag": "APP DESIGN",
                        "title": "Fitness App UI/UX",
                        "description": "Designed an interactive and engaging educational platform aimed at improving online learning experiences. This included developing intuitive navigation, interactive course materials, and features that support student engagement and participation, making learning more accessible and enjoyable.",
                        "topic1": "Client",
                        "topic2": "Completion Time",
                        "topic3": "Tools",
                        "description1": "Conceptual JSC",
                        "description2": "6 months",
                        "description3": "Figma, Sketch, Photoshop, Framer",
                        "link": "work-single.html",
                    },
                    {
                        "image": "assets/imgs/work/img-3.png",
                        "tag": "WEB DEVELOPMENT",
                        "title": "Travel Booking Platform",
                        "description": "Designed an interactive and engaging educational platform aimed at improving online learning experiences. This included developing intuitive navigation, interactive course materials, and features that support student engagement and participation, making learning more accessible and enjoyable.",
                        "topic1": "Client",
                        "topic2": "Completion Time",
                        "topic3": "Tools",
                        "description1": "Conceptual JSC",
                        "description2": "6 months",
                        "description3": "Figma, Sketch, Photoshop, Framer",
                        "link": "work-single.html",
                    },
                    {
                        "image": "assets/imgs/work/img-4.png",
                        "tag": "VISUAL DESIGN",
                        "title": "Educational Platform UI/UX",
                        "description": "Designed an interactive and engaging educational platform aimed at improving online learning experiences. This included developing intuitive navigation, interactive course materials, and features that support student engagement and participation, making learning more accessible and enjoyable.",
                        "topic1": "Client",
                        "topic2": "Completion Time",
                        "topic3": "Tools",
                        "description1": "Conceptual JSC",
                        "description2": "6 months",
                        "description3": "Figma, Sketch, Photoshop, Framer",
                        "link": "work-single.html",
                    },
                    ]
                    )
                </div>
            </div>
        </div>
    </div>
</section>
