<div class="card-custom" data-index="0">
    <div class="card__inner bg-6 p-lg-6 p-md-4 p-3">
        <div class="card__image-container zoom-img position-relative">
            <img class="card__image" src="@@image" alt="zelio" />
            <a href="@@link" class="card-image-overlay position-absolute start-0 end-0 w-100 h-100"></a>
        </div>
        <div class="card__content px-md-4 px-3">
            <div class="card__title d-md-flex align-items-center mb-0 mb-lg-2">
                <a href="@@link" class="card_title_link">
                    <p class="text-primary mb-0 mb-md-2">@@tag</p>
                    <h3 class="fw-semibold">@@title</h3>
                </a>
                <a href="@@link" class="card-icon d-none d-md-inline-flex border text-dark border-dark icon-shape ms-auto icon-md rounded-circle">
                    <i class="ri-arrow-right-up-line"></i>
                </a>
            </div>
            <p class="text-300 mb-lg-auto mb-md-4 mb-3">@@description</p>
            <div class="d-md-flex content">
                <p class="mb-0 fs-7 text-dark text-uppercase w-40">@@topic1</p>
                <p class="mb-0 card__description text-300 fs-6 mb-0">@@description1</p>
            </div>
            <div class="d-md-flex content">
                <p class="mb-0 fs-7 text-dark text-uppercase w-40">@@topic2</p>
                <p class="mb-0 card__description text-300 fs-6 mb-0">@@description2</p>
            </div>
            <div class="d-md-flex content">
                <p class="mb-0 fs-7 text-dark text-uppercase w-40">@@topic3</p>
                <p class="mb-0 card__description text-300 fs-6 mb-0">@@description3</p>
            </div>
        </div>
    </div>
</div>
