<!-- projects 1 -->
<div id="projects" class="section-projects-1 position-relative pt-120 pb-6 bg-900">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7 me-auto">
                <h3 class="ds-3 mt-3 mb-3 text-primary">My Latest Works</h3>
                <span class="fs-5 fw-medium text-200">
                    I believe that working hard and trying to learn every day will
                    <br />
                    make me improve in satisfying my customers.
                </span>
            </div>
            <div class="col-lg-auto">
                <a href="work.html" class="btn btn-gradient mt-lg-0 mt-5 ms-lg-auto d-none d-xl-block">
                    View All Projects
                    <i class="ri-arrow-right-up-line"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="bg-900 fillter-project" data-background="assets/imgs/projects/projects-1/background.png">
    <div class="container">
        <div class="text-start">
            <div class="button-group filter-button-group filter-menu-active">
                <button class="btn btn-md btn-filter mb-2 me-2 text-uppercase active" data-filter="*">All Projects</button>
                <button class="btn btn-md btn-filter mb-2 me-2 text-uppercase " data-filter=".brand">Branding</button>
                <button class="btn btn-md btn-filter mb-2 me-2 text-uppercase " data-filter=".webdesign">Web Design</button>
                <button class="btn btn-md btn-filter mb-2 me-2 text-uppercase " data-filter=".ui">UI/UX</button>
                <button class="btn btn-md btn-filter mb-2 me-2 text-uppercase " data-filter=".app">App Dev</button>
            </div>
        </div>
        <div class="row masonry-active justify-content-between mt-6">
            <div class="grid-sizer"></div>
            <div class="filter-item col-lg-6 col-12 brand ui app">
                <div class="project-item rounded-4 overflow-hidden position-relative p-md-4 p-3 bg-white">
                    <a href="work-single.html">
                        <img class="rounded-3 w-100 zoom-img" src="assets/imgs/projects/projects-1/img-1.png" alt="zelio" />
                    </a>
                    <div class="d-flex align-items-center mt-4">
                        <a href="work-single.html" class="project-card-content">
                            <h3 class="fw-semibold">Photo App UI/UX</h3>
                            <p>Bokeh network</p>
                        </a>
                        <a href="work-single.html" class="project-card-icon icon-shape ms-auto icon-md rounded-circle">
                            <i class="ri-arrow-right-up-line"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="filter-item col-lg-6 col-12 webdesign brand dataanalysis brand">
                <div class="project-item rounded-4 overflow-hidden position-relative p-md-4 p-3 bg-white">
                    <a href="work-single.html">
                        <img class="rounded-3 w-100 zoom-img" src="assets/imgs/projects/projects-1/img-2.png" alt="zelio" />
                    </a>
                    <div class="d-flex align-items-center mt-4">
                        <a href="work-single.html" class="project-card-content">
                            <h3 class="fw-semibold">Mobile App Design</h3>
                            <p>Tech Innovators Inc.</p>
                        </a>
                        <a href="work-single.html" class="project-card-icon icon-shape ms-auto icon-md rounded-circle">
                            <i class="ri-arrow-right-up-line"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="filter-item col-lg-6 col-12 ui app">
                <div class="project-item rounded-4 overflow-hidden position-relative p-md-4 p-3 bg-white">
                    <a href="work-single.html">
                        <img class="rounded-3 w-100 zoom-img" src="assets/imgs/projects/projects-1/img-3.png" alt="zelio" />
                    </a>
                    <div class="d-flex align-items-center mt-4">
                        <a href="work-single.html" class="project-card-content">
                            <h3 class="fw-semibold">Interaction Design</h3>
                            <p>HealthTrack Solutions</p>
                        </a>
                        <a href="work-single.html" class="project-card-icon icon-shape ms-auto icon-md rounded-circle">
                            <i class="ri-arrow-right-up-line"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="filter-item col-lg-6 col-12 app app dataanalysis brand">
                <div class="project-item rounded-4 overflow-hidden position-relative p-md-4 p-3 bg-white">
                    <a href="work-single.html">
                        <img class="rounded-3 w-100 zoom-img" src="assets/imgs/projects/projects-1/img-4.png" alt="zelio" />
                    </a>
                    <div class="d-flex align-items-center mt-4">
                        <a href="work-single.html" class="project-card-content">
                            <h3 class="fw-semibold">Design Consultation</h3>
                            <p>Creative Pulse Studios</p>
                        </a>
                        <a href="work-single.html" class="project-card-icon icon-shape ms-auto icon-md rounded-circle">
                            <i class="ri-arrow-right-up-line"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contairer overflow-hidden">
    <div class="row justify-content-center position-relative button-project pb-160 bg-900 pt-1">
        <a href="work.html" class="icon_hover position-relative z-1 icon-shape icon_150 border-linear-2 rounded-circle position-relative overflow-hidden bg-white hover-up">
            <span class="icon-shape icon-md bg-linear-2 rounded-circle position-absolute bottom-0 end-0"></span>
            <p class="m-0 fs-7 fw-bold text-capitalize position-absolute top-50 start-50 translate-middle">
                View All
                <i class="ri-arrow-right-up-line fs-7"></i>
            </p>
        </a>
        <div class="ellipse position-absolute bottom-0 start-50 translate-middle-x z-0"></div>
    </div>
</div>
