<div class="col-lg-4">
    <div class="blog-card rounded-4 mb-lg-3 mb-md-5 mb-3">
        <div class="blog-card__image position-relative">
            <div class="zoom-img rounded-3 overflow-hidden">
                <img class="w-100" src="@@image" alt="zelio" />
                <a class="position-absolute bottom-0 start-0 m-3 text-white-keep btn btn-gradient fw-medium rounded-3 px-3 py-2" href="@@link">@@tag</a>
                <a href="@@link" class="blog-card__link position-absolute top-50 start-50 translate-middle icon-md icon-shape bg-linear-1 rounded-circle">
                    <i class="ri-arrow-right-up-line text-dark"></i>
                </a>
            </div>
        </div>
        <div class="blog-card__content position-relative text-center mt-4">
            <span class="blog-card__date fs-7">@@date</span>
            <h5 class="blog-card__title">@@title</h5>
            <p class="blog-card__description fs-6">@@description</p>
            <a href="@@link" class="link-overlay position-absolute top-0 start-0 w-100 h-100"></a>
        </div>
    </div>
</div>
