<div class="col-lg-4">
    <div class="blog-card rounded-top-2 mb-lg-3 mb-md-5 mb-3">
        <div class="blog-card__image position-relative">
            <div class="zoom-img rounded-2 overflow-hidden">
                <img class="w-100" src="@@image" alt="zelio" />
                <a class="position-absolute bottom-0 start-0 m-3 text-white-keep border border-white fw-medium px-3 py-1 fs-7 bg-white rounded-2" href="@@link">@@tag</a>
                <a href="@@link" class="blog-card__link position-absolute top-50 start-50 translate-middle icon-md icon-shape rounded-circle">
                    <i class="ri-arrow-right-up-line"></i>
                </a>
            </div>
        </div>
        <div class="blog-card__content position-relative text-center mt-4">
            <span class="blog-card__date fs-7">@@date</span>
            <h6 class="blog-card__title mt-2">@@title</h6>
            <p class="blog-card__description fs-7">@@description</p>
            <a href="@@link" class="link-overlay position-absolute top-0 start-0 w-100 h-100"></a>
        </div>
    </div>
</div>
