<!-- blog list -->
<section class="section-blog-list pt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-lg-auto mb-lg-0">
                <div class="text-center">
                    <div class="btn btn-gradient d-inline-block text-uppercase">Recent blog</div>
                    <h3 class="ds-3 mt-3 mb-4 text-300">Explore the <span class="text-dark">insights and trends shaping</span> our industry</h3>
                    <p class="text-300 fs-5 mb-0">
                        Discover key insights and emerging trends shaping the future of design: a detailed <br />
                        examination of how these innovations are reshaping our industry
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-8">
            <!--prettier-ignore-->
            @@loop('blog-card.html', [
            {
               "image":"assets/imgs/blog/blog-1/img-1.png",
               "title":"5 UI/UX Trends to Watch in 2024",
               "description":"Stay ahead of the curve with these emerging trends in UI/UX design.",
               "date":"March 28, 2023 • 3 min read",
               "link":"blog-details.html",
               "tag":"App Design"
            },
            {
               "image":"assets/imgs/blog/blog-1/img-2.png",
               "title":"The Importance of User Research",
               "description":"Stay ahead of the curve with these emerging trends in UI/UX design.",
               "date":"March 28, 2023 • 3 min read",
               "link":"blog-details.html",
               "tag":"Branding"
            },
            {
               "image":"assets/imgs/blog/blog-1/img-3.png",
               "title":"The Role of Color Psychology",
               "description":"Stay ahead of the curve with these emerging trends in UI/UX design.",
               "date":"March 28, 2023 • 3 min read",
               "link":"blog-details.html",
               "tag":"Mockup"
            },
            {
               "image":"assets/imgs/blog/blog-1/img-4.png",
               "title":"5 UI/UX Trends to Watch in 2024",
               "description":"Stay ahead of the curve with these emerging trends in UI/UX design.",
               "date":"March 28, 2023 • 3 min read",
               "link":"blog-details.html",
               "tag":"Branding"
            },
            {
               "image":"assets/imgs/blog/blog-1/img-5.png",
               "title":"The Importance of User Research",
               "description":"Stay ahead of the curve with these emerging trends in UI/UX design.",
               "date":"March 28, 2023 • 3 min read",
               "link":"blog-details.html",
               "tag":"Mockup"
            },
            {
               "image":"assets/imgs/blog/blog-1/img-6.png",
               "title":"The Role of Color Psychology",
               "description":"Stay ahead of the curve with these emerging trends in UI/UX design.",
               "date":"March 28, 2023 • 3 min read",
               "link":"blog-details.html",
               "tag":"App Design"
            },
            {
               "image":"assets/imgs/blog/blog-1/img-7.png",
               "title":"5 UI/UX Trends to Watch in 2024",
               "description":"Stay ahead of the curve with these emerging trends in UI/UX design.",
               "date":"March 28, 2023 • 3 min read",
               "link":"blog-details.html",
               "tag":"App Design"
            },
            {
               "image":"assets/imgs/blog/blog-1/img-8.png",
               "title":"The Importance of User Research",
               "description":"Stay ahead of the curve with these emerging trends in UI/UX design.",
               "date":"March 28, 2023 • 3 min read",
               "link":"blog-details.html",
               "tag":"Mockup"
            },
            {
               "image":"assets/imgs/blog/blog-1/img-9.png",
               "title":"The Role of Color Psychology",
               "description":"Stay ahead of the curve with these emerging trends in UI/UX design.",
               "date":"March 28, 2023 • 3 min read",
               "link":"blog-details.html",
               "tag":"Branding"
            }
         ] )
        </div>
    </div>
</section>
