<!--Static 1-->
<div class="section-static-1 position-relative overflow-hidden z-0 py-8 @@background">
    <div class="container">
        <div class="inner">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-auto col-md-6">
                    <div class="counter-item-cover counter-item">
                        <div class="content text-center mx-auto d-flex align-items-center">
                            <span class="ds-3 count text-primary fw-medium my-0">+<span class="odometer ds-1 text-dark fw-semibold" data-count="12"></span></span>
                            <div class="text-start ms-2">
                                <p class="fs-5 mb-0 text-300">Year of</p>
                                <p class="fs-5 mb-0 fw-bold">Experience</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto col-md-6">
                    <div class="counter-item-cover counter-item">
                        <div class="content text-center mx-auto d-flex align-items-center">
                            <span class="ds-3 count text-primary fw-medium my-0">+<span class="odometer ds-1 text-dark fw-semibold" data-count="250"></span></span>
                            <div class="text-start ms-2">
                                <p class="fs-5 mb-0 text-300">Projects</p>
                                <p class="fs-5 mb-0 fw-bold">Completed</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto col-md-6">
                    <div class="counter-item-cover counter-item">
                        <div class="content text-center mx-auto d-flex align-items-center">
                            <span class="ds-3 count text-primary fw-medium my-0">+<span class="odometer ds-1 text-dark fw-semibold" data-count="680"></span></span>
                            <div class="text-start ms-2">
                                <p class="fs-5 mb-0 text-300">Satisfied</p>
                                <p class="fs-5 mb-0 fw-bold">Happy Clients</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto col-md-6">
                    <div class="counter-item-cover counter-item">
                        <div class="content text-center mx-auto d-flex align-items-center">
                            <span class="ds-3 count text-primary fw-medium my-0">+<span class="odometer ds-1 text-dark fw-semibold" data-count="18"></span></span>
                            <div class="text-start ms-2">
                                <p class="fs-5 mb-0 text-300">Awards</p>
                                <p class="fs-5 mb-0 fw-bold">Won Received</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
