<!--Static 2-->
<div class="section-static-1 z-0">
    <div class="container position-relative z-1">
        <div class="@@background py-60 border border-1 rounded-3 position-relative overflow-hidden">
            <div class="inner">
                <div class="row align-items-center justify-content-lg-around justify-content-center">
                    <div class="col-lg-auto col-md-6 text-center text-lg-start">
                        <div class="counter-item-cover counter-item">
                            <div class="content mx-auto">
                                <i class="ri-shape-line text-primary-2"></i>
                                <h2 class="text-300 my-0 fs-50">
                                    <span class="odometer text-dark fw-medium" data-count="12"></span>
                                    <span class="fs-50 text-300 mb-0">+</span>
                                </h2>
                                <p class="fs-6 mb-0 text-dark">Year Experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-auto col-md-6 text-center text-lg-start">
                        <div class="counter-item-cover counter-item">
                            <div class="content mx-auto">
                                <i class="ri-computer-line text-primary-2"></i>
                                <h2 class="text-300 my-0 fs-50">
                                    <span class="odometer text-dark fw-medium" data-count="250"></span>
                                    <span class="fs-50 text-300 mb-0">+</span>
                                </h2>
                                <p class="fs-6 mb-0 text-dark">Projects Completed</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-auto col-md-6 text-center text-lg-start">
                        <div class="counter-item-cover counter-item">
                            <div class="content mx-auto">
                                <i class="ri-service-line text-primary-2"></i>
                                <h2 class="text-300 my-0 fs-50">
                                    <span class="odometer text-dark fw-medium" data-count="680"></span>
                                    <span class="fs-50 text-300 mb-0">+</span>
                                </h2>
                                <p class="fs-6 mb-0 text-dark">Satisfied Clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-auto col-md-6 text-center text-lg-start">
                        <div class="counter-item-cover counter-item">
                            <div class="content mx-auto">
                                <i class="ri-award-line text-primary-2"></i>
                                <h2 class="text-300 my-0 fs-50">
                                    <span class="odometer text-dark fw-medium" data-count="18"></span>
                                    <span class="fs-50 text-300 mb-0">+</span>
                                </h2>
                                <p class="fs-6 mb-0 text-dark">Awards Winner</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background position-absolute top-0 start-0 w-100 h-100 filter-invert" data-background="assets/imgs/home-page-2/static/bg.png"></div>
        </div>
    </div>
</div>
