<!-- Pricing 1 -->
<section class="section-pricing-1 pt-130 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-lg-auto mb-8">
                <div class="text-center">
                    <div class="btn btn-gradient d-inline-block text-uppercase">My Pricing</div>
                    <h3 class="ds-3 mt-3 mb-4 text-dark">Affordable <span class="text-300">Solutions for Every</span> Budget</h3>
                    <p class="text-300 fs-5 mb-0">
                        Flexible Plans Tailored to Meet Your Unique Needs, Ensuring High-Quality Services <br />
                        Without Breaking the Bank
                    </p>
                </div>
                <div class="row mt-8 d-flex">
                    <div class="col-md-6">
                        <div class="card-pricing-1 p-6 rounded-4 h-100 d-flex flex-column">
                            <span class="text-uppercase fs-7">basic</span> <br />
                            <h3 class="ds-3 fw-medium text-primary mb-5">$49<span class="text-300 fs-4">/Hour</span></h3>
                            <ul class="ps-3 border-top border-600 pt-5 mb-auto">
                                <li>
                                    <p class="text-300">Require your wireframe</p>
                                </li>
                                <li>
                                    <p class="text-300">Design using Figma, Framer</p>
                                </li>
                                <li>
                                    <p class="text-300">Develop with Webflow, React, WordPress, Laravel/PHP</p>
                                </li>
                                <li>
                                    <p class="text-300">Remote/Online collaboration</p>
                                </li>
                                <li>
                                    <p class="text-300">Available on business days, no weekends</p>
                                </li>
                                <li>
                                    <p class="text-300">6 months of support</p>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary mt-5 w-100 justify-content-center">
                                Order Now
                                <i class="ri-arrow-right-up-line"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-pricing-1 p-6 rounded-4 align-self-stretch mt-md-0 mt-6">
                            <span class="text-uppercase fs-7">Business</span> <br />
                            <h3 class="ds-3 fw-medium text-primary mb-5">$99<span class="text-300 fs-4">/Hour</span></h3>
                            <ul class="ps-3 border-top border-600 pt-5">
                                <li>
                                    <p class="text-300">No wireframe needed</p>
                                </li>
                                <li>
                                    <p class="text-300">Design using Figma, Framer</p>
                                </li>
                                <li>
                                    <p class="text-300">Develop with Webflow, React, WordPress, Laravel/PHP</p>
                                </li>
                                <li>
                                    <p class="text-300">Remote/Online collaboration</p>
                                </li>
                                <li>
                                    <p class="text-300">Available on business days, no weekends</p>
                                </li>
                                <li>
                                    <p class="text-300">12 months of support</p>
                                </li>
                                <li>
                                    <p class="text-300">Your project is always a priority</p>
                                </li>
                                <li>
                                    <p class="text-300">Customer care gifts included</p>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary mt-5 w-100 justify-content-center">
                                Order Now
                                <i class="ri-arrow-right-up-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-8">
            <div class="col-lg-6  mx-md-auto text-center">
                <h2 class="text-300 mb-8">Common Questions</h2>
                <div class="accordion">
                    <div class="mb-3 card border-2 rounded-4">
                        <div class="card-header p-0 border-0">
                            <a class="p-3 collapsed text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseSevent">
                                <p class="fs-5 mb-0 text-dark">What is the main focus of your portfolio?</p>
                                <span class="ms-auto arrow me-2 icon-shape">
                                    <i class="ri-add-line"></i>
                                </span>
                            </a>
                        </div>
                        <div id="collapseSevent" class="collapse" data-bs-parent=".accordion">
                            <p class="px-4 pt-0 text-start card-body">You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you to deduct as much.</p>
                        </div>
                    </div>
                    <div class="mb-3 card border-2 rounded-4">
                        <div class="card-header p-0 border-0">
                            <a class="p-3 collapsed text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseEight">
                                <p class="fs-5 mb-0 text-dark">Will you include a blog or other written content?</p>
                                <span class="ms-auto arrow me-2 icon-shape">
                                    <i class="ri-add-line"></i>
                                </span>
                            </a>
                        </div>
                        <div id="collapseEight" class="collapse" data-bs-parent=".accordion">
                            <p class="px-4 pt-0 text-start card-body">You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you to deduct as much.</p>
                        </div>
                    </div>
                    <div class="mb-3 card border-2 rounded-4">
                        <div class="card-header p-0 border-0">
                            <a class="p-3 collapsed text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseNine">
                                <p class="fs-5 mb-0 text-dark">How much do your services cost?</p>
                                <span class="ms-auto arrow me-2 icon-shape">
                                    <i class="ri-add-line"></i>
                                </span>
                            </a>
                        </div>
                        <div id="collapseNine" class="collapse" data-bs-parent=".accordion">
                            <p class="px-4 pt-0 text-start card-body">You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you to deduct as much.</p>
                        </div>
                    </div>
                    <div class="mb-3 card border-2 rounded-4">
                        <div class="card-header p-0 border-0">
                            <a class="p-3 collapsed text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseTen">
                                <p class="fs-5 mb-0 text-dark">How long does it take to see results?</p>
                                <span class="ms-auto arrow me-2 icon-shape">
                                    <i class="ri-add-line"></i>
                                </span>
                            </a>
                        </div>
                        <div id="collapseTen" class="collapse" data-bs-parent=".accordion">
                            <p class="px-4 pt-0 text-start card-body">You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you to deduct as much.</p>
                        </div>
                    </div>
                    <div class="mb-3 card border-2 rounded-4">
                        <div class="card-header p-0 border-0">
                            <a class="p-3 collapsed text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseEleven">
                                <p class="fs-5 mb-0 text-dark">Do you offer ongoing support?</p>
                                <span class="ms-auto arrow me-2 icon-shape">
                                    <i class="ri-add-line"></i>
                                </span>
                            </a>
                        </div>
                        <div id="collapseEleven" class="collapse" data-bs-parent=".accordion">
                            <p class="px-4 pt-0 text-start card-body">You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you to deduct as much.</p>
                        </div>
                    </div>
                    <div class="mb-3 card border-2 rounded-4">
                        <div class="card-header p-0 border-0">
                            <a class="p-3 collapsed text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseTwelve">
                                <p class="fs-5 mb-0 text-dark">Do you work with businesses in my industry?</p>
                                <span class="ms-auto arrow me-2 icon-shape">
                                    <i class="ri-add-line"></i>
                                </span>
                            </a>
                        </div>
                        <div id="collapseTwelve" class="collapse" data-bs-parent=".accordion">
                            <p class="px-4 pt-0 text-start card-body">You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you to deduct as much.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
