<div class="swiper-slide">
    <div class="bg-white card-testimonial-1 p-lg-7 p-md-5 mx-3 mx-md-0 p-4 border-2 rounded-4 position-relative">
        <div class="mb-6 logo">
            <img class="" src="@@logo" alt="logo" />
        </div>
        <div class="d-flex mb-5">
            <i class="ri-star-fill fs-7 text-primary"></i>
            <i class="ri-star-fill fs-7 text-primary"></i>
            <i class="ri-star-fill fs-7 text-primary"></i>
            <i class="ri-star-fill fs-7 text-primary"></i>
            <i class="ri-star-fill fs-7 text-500 @@fivestar"></i>
        </div>
        <h6 class="mb-7">“Working with William was an absolute pleasure. His attention to detail and user-focused design approach significantly improved our product's usability”</h6>
        <a href="@@link" class="d-flex align-items-center">
            <img class="icon_65 avatar" src="@@avatar" alt="zelio" />
            <h6 class="ms-2 mb-0">@@name <span class="fs-6 fw-regular"> - Head of Legal and Compliance, Tech Innovators</span></h6>
        </a>
        <div class="position-absolute top-0 end-0 m-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" fill="none">
                <g clip-path="url(#clip0_551_13914)">
                    <path d="M0 29.7144H11.1428L3.71422 44.5715H14.8571L22.2857 29.7144V7.42871H0V29.7144Z" fill="#D1D5DB" />
                    <path d="M29.7148 7.42871V29.7144H40.8577L33.4291 44.5715H44.5719L52.0005 29.7144V7.42871H29.7148Z" fill="#D1D5DB" />
                </g>
                <defs>
                    <clipPath>
                        <rect width="52" height="52" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>
    </div>
</div>
