<!-- testimonials 1 -->
<section class="section-testimonials-1 position-relative pt-120 pb-120 bg-900 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h3 class="ds-3 mt-3 mb-3 text-primary">Client's Testimonials</h3>
                <span class="fs-5 fw-medium text-200">
                    I believe that working hard and trying to learn every day will make me
                    <br />
                    improve in satisfying my customers.
                </span>
                <div class="row mt-8">
                    <div class="swiper slider-2 pt-2 pb-3">
                        <div class="swiper-wrapper">
                            <!-- prettier-ignore -->
                            @@loop('testimonial1-loop.html', [
                            {
                            "avatar": "assets/imgs/testimonials/testimonials-1/avatar-1.png",
                            "logo": "assets/imgs/testimonials/testimonials-1/logo-1.png",
                            "name": "John Doe",
                            "fivestar": "",
                            "link": "#",
                            },
                            {
                            "avatar": "assets/imgs/testimonials/testimonials-1/avatar-2.png",
                            "logo": "assets/imgs/testimonials/testimonials-1/logo-2.png",
                            "name": "John Doe",
                            "fivestar": "text-primary",
                            "link": "#text-primary",
                            },
                            {
                            "avatar": "assets/imgs/testimonials/testimonials-1/avatar-1.png",
                            "logo": "assets/imgs/testimonials/testimonials-1/logo-1.png",
                            "name": "John Doe",
                            "fivestar": "",
                            "link": "#",
                            },
                            {
                            "avatar": "assets/imgs/testimonials/testimonials-1/avatar-2.png",
                            "logo": "assets/imgs/testimonials/testimonials-1/logo-2.png",
                            "name": "John Doe",
                            "fivestar": "text-primary",
                            "link": "#text-primary",
                            },
                            {
                            "avatar": "assets/imgs/testimonials/testimonials-1/avatar-1.png",
                            "logo": "assets/imgs/testimonials/testimonials-1/logo-1.png",
                            "name": "John Doe",
                            "fivestar": "",
                            "link": "#",
                            },
                            {
                            "avatar": "assets/imgs/testimonials/testimonials-1/avatar-2.png",
                            "logo": "assets/imgs/testimonials/testimonials-1/logo-2.png",
                            "name": "John Doe",
                            "fivestar": "text-primary",
                            "link": "#text-primary",
                            },
                            ]
                            )
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="text-center mt-8 position-relative z-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-1 position-absolute bottom-0 start-50 z-1 ms-10 ps-10 d-none d-md-block">
        <img class="position-relative z-1" src="assets/imgs/testimonials/testimonials-1/man.png" alt="man" />
        <div class="position-absolute top-50 start-50 translate-middle z-0 mt-5">
            <img class="ribbonRotate" src="assets/imgs/testimonials/testimonials-1/decorate.png" alt="zelio" />
        </div>
    </div>
</section>
