<!-- Navbar -->
<header>
    <nav class="navbar navbar-expand-lg @@classList flex-nowrap z-999 p-0">
        <div class="container py-3 px-0">
            <a class="navbar-brand d-flex main-logo align-items-center ms-lg-0 ms-md-5 ms-3" href="index-3.html">
                <h1 class="fs-28 mb-0 me-2">Meisa</h1>
                <img src="assets/imgs/home-page-3/template/favicon.svg" alt="zelio" />
            </a>
            <div class="d-none d-lg-flex">@@include("main-menu-3.html")</div>
            <div class="navbar-social d-flex align-items-center">
                <div class="d-md-flex d-none gap-3">
                    <a href="http://facebook.com">
                        <i class="ri-facebook-circle-fill fs-18"></i>
                    </a>
                    <a href="http://twitter.com">
                        <i class="ri-twitter-x-fill fs-18"></i>
                    </a>
                    <a href="http://linkedin.com">
                        <i class="ri-linkedin-fill fs-18"></i>
                    </a>
                    <a href="http://github.com">
                        <i class="ri-github-fill fs-18"></i>
                    </a>
                </div>
                <div class="burger-icon burger-icon-white border rounded-3">
                    <span class="burger-icon-top"></span>
                    <span class="burger-icon-mid"></span>
                    <span class="burger-icon-bottom"></span>
                </div>
            </div>
        </div>
        @@include("dark-light-switcher.html", {"classList": "position-lg-absolute end-0"})
    </nav>
    @@include("offcanvas.html") @@include("mobile-menu.html")
</header>
