<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>@@title</title>
<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="assets/imgs/template/favicon.svg" />
<!-- Libs CSS -->
<link rel="stylesheet" href="assets/css/vendors/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/vendors/swiper-bundle.min.css" />
<link rel="stylesheet" href="assets/css/vendors/aos.css" />
<link rel="stylesheet" href="assets/css/vendors/odometer.css" />
<link rel="stylesheet" href="assets/css/vendors/carouselTicker.css" />
<link rel="stylesheet" href="assets/css/vendors/magnific-popup.css" />
<link rel="stylesheet" href="assets/fonts/remixicon/remixicon.css" />
<link rel="stylesheet" href="assets/fonts/satoshi/satoshi.css" />
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Playfair+Display:wght@400..900&family=Urbanist:wght@100..900&display=swap" rel="stylesheet" />
<!-- Main CSS -->
<link rel="stylesheet" href="assets/css/main.css" />
