<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar button-bg-2">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-logo">
            <a class="d-flex main-logo align-items-center d-inline-flex" href="index.html">
                <img src="assets/imgs/footer-1/logo.svg" alt="zelio" />
                <span class="fs-4 ms-2 text-dark">william.design</span>
            </a>
            <div class="burger-icon burger-icon-white border rounded-3">
                <span class="burger-icon-top"></span>
                <span class="burger-icon-mid"></span>
                <span class="burger-icon-bottom"></span>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav>
                        <ul class="mobile-menu font-heading ps-0">
                            <li class="nav-item has-children">
                                <a class="nav-link active" href="#">Home</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Landing page</a></li>
                                    <li><a href="index-1.html">Home 1 - Designer</a></li>
                                    <li><a href="index-2.html">Home 2 - Developer</a></li>
                                    <li><a href="index-3.html">Home 3 - Author</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="work.html">Portfolio</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="pricing.html">Pricing</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="blog-list.html">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
