<!-- offCanvas-menu -->
<div class="offCanvas__info">
    <div class="offCanvas__close-icon menu-close">
        <button><i class="ri-close-line"></i></button>
    </div>
    <div class="offCanvas__logo mb-5"><h3 class="mb-0">Get in touch</h3></div>
    <div class="offCanvas__side-info mb-30">
        <div class="contact-list mb-30">
            <p class="fs-6 fw-medium text-200 mb-5">I'm always excited to take on new projects and collaborate with innovative minds.</p>
            <div class="mb-3">
                <span class="text-400 fs-5">Phone Number</span>
                <p class="mb-0">+1-234-567-8901</p>
            </div>
            <div class="mb-3">
                <span class="text-400 fs-5">Email</span>
                <p class="mb-0">contact@william.design</p>
            </div>
            <div class="mb-3">
                <span class="text-400 fs-5">Skype</span>
                <p class="mb-0">WilliamDesignUX</p>
            </div>
            <div class="mb-3">
                <span class="text-400 fs-5">Address</span>
                <p class="mb-0">0811 Erdman Prairie Road, Joaville, California 90210</p>
            </div>
        </div>

        <div class="contact-list">
            <p class="text-400 fs-5 mb-2">Social</p>
            <div class="d-md-flex d-none gap-3">
                <a href="http://facebook.com">
                    <i class="ri-facebook-circle-fill fs-18"></i>
                </a>
                <a href="http://twitter.com">
                    <i class="ri-twitter-x-fill fs-18"></i>
                </a>
                <a href="http://linkedin.com">
                    <i class="ri-linkedin-fill fs-18"></i>
                </a>
                <a href="http://github.com">
                    <i class="ri-github-fill fs-18"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="offCanvas__overly"></div>
