<div class="card-custom" data-index="0">
    <div class="card__inner bg-6 px-md-5 py-md-6 px-3 py-4">
        <div class="card__title d-flex align-items-center mb-md-4 mb-3">
            <a href="#" class="card_title_link">
                <h3 class="fw-semibold mb-2">@@title</h3>
                <p class="mb-0">Creative. Unique. Reality.</p>
            </a>
            <a href="#" class="card-icon border text-dark border-dark icon-shape ms-auto icon-md rounded-circle">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
        <div class="card__image-container zoom-img position-relative">
            <img class="card__image" src="@@image" alt="zelio" />
            <a href="#" class="card-image-overlay position-absolute start-0 end-0 w-100 h-100"></a>
        </div>
        <div class="card__content mt-lg-5 mt-md-4 mt-3 pb-4">
            <div class="d-md-flex content">
                <p class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">@@topic1</p>
                <p class="card__description text-300 fs-6 mb-0">@@description1</p>
            </div>
            <div class="d-md-flex content">
                <p class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">@@topic2</p>
                <p class="card__description text-300 fs-6 mb-0">@@description2</p>
            </div>
            <div class="d-md-flex content">
                <p class="fs-7 text-dark text-uppercase w-md-40 pe-8 mb-2 d-inline-block">@@topic3</p>
                <p class="card__description text-300 fs-6 mb-0">@@description3</p>
            </div>
        </div>
    </div>
</div>
