<!-- services list -->
<section class="section-service-list pt-120 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-lg-auto">
                <div class="text-center">
                    <div class="btn btn-gradient d-inline-block text-uppercase">My Services</div>
                    <h3 class="ds-3 mt-3 mb-4 text-dark">
                        Transforming Ideas
                        <span class="text-300">into Intuitive Designs for</span>
                        Engaging User
                        <span class="text-300">Experiences</span>
                    </h3>
                    <p class="text-300 fs-5">
                        With expertise in mobile app and web design, I transform ideas into visually <br />
                        stunning and user-friendly interfaces that captivate and retain users. <br />
                        Explore my work and see design in action.
                    </p>
                </div>
                <div class="card-scroll mt-8">
                    <div class="cards">
                        <!--prettier-ignore-->
                        @@loop('servicescard-loop.html', [
                            {
                            "image":"assets/imgs/services-list/img-1.png",
                            "title":"UI/UX Design",
                            "topic1":"User Research",
                            "topic2":"Wireframing and Prototyping",
                            "topic3":"User Testing",
                            "description1":"Conducting thorough user research through surveys, interviews, and usability studies to understand target audiences and their needs, ensuring designs are user-centric and effective.",
                            "description2":"Designing detailed wireframes and interactive prototypes to visualize and test user flows and interactions, allowing for early feedback and iterative improvements.",
                            "description3":"Implementing comprehensive user testing sessions to gather feedback, identify pain points, and make data-driven design improvements, ensuring a seamless user experience.",
                            "link":"blog-details.html"
                            },
                            {
                            "image":"assets/imgs/services-list/img-2.png",
                            "title":"Mobile App Design",
                            "topic1":"Cross-Platform Design",
                            "topic2":"Interactive Prototypes",
                            "topic3":"Consistent Branding",
                            "description1":"Creating designs that work smoothly on both iOS and Android platforms, ensuring a consistent and high-quality user experience regardless of the device.",
                            "description2":"Developing interactive prototypes to demonstrate app functionality allowing stakeholders to experience the app before development begins.",
                            "description3":"Ensuring the app design is consistent with your brand’s identity and aesthetics, maintaining brand recognition and trust across all touchpoints.",
                            "link":"blog-details.html"
                            },
                            {
                            "image":"assets/imgs/services-list/img-3.png",
                            "title":"Brand Identity Design",
                            "topic1":"Logo Design",
                            "topic2":"Brand Guidelines",
                            "topic3":"Visual Assets:",
                            "description1":"Creating memorable and impactful logos that represent your brand’s essence and values, helping you stand out in a crowded marketplace.",
                            "description2":"Developing comprehensive brand guidelines that include typography, color visual styles to maintain consistency across all platforms and media.",
                            "description3":"Designing a variety of visual assets, including business cards, letterheads, to ensure all brand communications are professional and cohesive.",
                            "link":"blog-details.html"
                            },
                            {
                            "image":"assets/imgs/services-list/img-4.png",
                            "title":"Web Development",
                            "topic1":"Front-End Development",
                            "topic2":"Back-End Development",
                            "topic3":"Content Management Systems",
                            "description1":"Utilizing modern technologies like HTML, CSS, and JavaScript to create responsive and interactive web pages that provide an engaging user experience.",
                            "description2":"Implementing server-side logic and database management with technologies such as Node.js, Python, or Ruby on Rails to ensure seamless performance and data integrity.",
                            "description3":"Integrating user-friendly CMS platforms like WordPress, Drupal, or custom solutions for easy content updates, allowing non-technical users to manage website content efficiently.",
                            "link":"blog-details.html"
                            }
                        ])
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
