<section class="section-404">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <img src="assets/imgs/template/404.png" alt="zelio" />
                <h1 class="mt-8">OOPS! Something went wrong!</h1>
                <p class="fs-5 mb-4">Locks like this page doesn’t exits. Go back to <a class="text-primary" href="index.html">Home</a> and continue exploring.</p>
                <a href="index.html" class="btn btn-gradient mt-lg-0 mt-5 ms-lg-auto">
                    Back to Home
                    <i class="ri-arrow-right-up-line"></i>
                </a>
            </div>
        </div>
    </div>
</section>
