<section class="section-coming-soon">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <img src="assets/imgs/template/coming-soon.png" alt="zelio" />
                <h1 class="mt-8">Coming Soon</h1>
                <p class="fs-5 mb-4">In the meantime, Sign up for our monthly newsletter to stay up to date.</p>
                <div class="col-md-5 mx-auto">
                    <form action="#" class="d-flex align-items-center justify-content-center gap-2">
                        <input type="text" class="form-control bg-3 border border-1 rounded-3" id="email" name="email" placeholder="contact.john@gmail.com" aria-label="email" />
                        <button type="submit" class="btn btn-gradient mt-lg-0 mt-5 ms-lg-auto">
                            Register
                            <i class="ri-arrow-right-up-line"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
