<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        @@include("../partials/head-links.html", {"title": "William - Crafting Intuitive Digital Experiences"})
    </head>
    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-home-1.html",{ "classList": "navbar-light w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../sections/hero/hero-1.html")
            @@include("../sections/static/static-1.html", { "background": "bg-900" })
            @@include("../sections/services/services-1.html")
            @@include("../sections/projects/projects-1.html")
            @@include("../sections/resume/resume-1.html")
            @@include("../sections/skills/skills-1.html")
            @@include("../sections/brands/brands-1.html")
            @@include("../sections/testimonials/testimonials-1.html")
            @@include("../sections/blog/blog-1.html")
            @@include("../sections/contact/contact-1.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-1.html")
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
