<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        @@include("../partials/head-links.html", {"title": "James - Web & App developer"})
    </head>
    <body class="home-page-2">
        <!-- prettier-ignore -->
        @@include("../partials/preloader-2.html")
        @@include("../partials/header-home-2.html",{ "classList": "navbar-home-2" })
        <main>
            <!-- prettier-ignore -->
            @@include("../sections/hero/hero-2-page-2.html")
            @@include("../sections/static/static-2-page-2.html", { "background": "bg-3" })
            @@include("../sections/coporation/coporation-page-2.html")
            @@include("../sections/services/services-1-page-2.html")
            @@include("../sections/experience/experience.html")
            @@include("../sections/education/education.html")
            @@include("../sections/projects/projects-1-page-2.html")
            @@include("../sections/skills/skills-1-page-2.html")
            @@include("../sections/blog/blog-1-page-2.html")
            @@include("../sections/contact/contact-1-page-2.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-2.html")
    @@include("../partials/btn-scroll-top.html", {"style": "style-btn-2"})
    @@include("../partials/scripts.html")
    </body>
</html>
