<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        @@include("../partials/head-links-2.html", {"title": "Zelio - Personal Portfolio HTML Bootstrap Template"})
    </head>
    <body style="background-color: #1f1f24;">
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        <main>
            <!-- prettier-ignore -->
            @@include("../sections/landing-page/landing-page.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
