<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        @@include("../partials/head-links.html", {"title": "William - Services"})
    </head>

    <body>
        <!-- prettier-ignore -->
        @@include("../partials/preloader.html")
        @@include("../partials/header-home-1.html",{ "classList": "navbar-light w-100" })
        <main>
            <!-- prettier-ignore -->
            @@include("../sections/services/services-list.html")
            @@include("../sections/static/static-1.html", { "background": "bg-6" })
            @@include("../sections/contact/contact-1.html")
        </main>
        <!-- prettier-ignore -->
        @@include("../partials/footer-1.html")
        @@include("../partials/btn-scroll-top.html")
        @@include("../partials/scripts.html")
    </body>
</html>
